In [3]:
import pandas as pd

In [19]:
df1=pd.read_csv('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\HWASUNG\\1.csv', encoding='cp949')
df2=pd.read_csv('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\HWASUNG\\2.csv', encoding='cp949')
df3=pd.read_csv('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\HWASUNG\\3.csv', encoding='cp949')
df4=pd.read_csv('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\HWASUNG\\4.csv', encoding='cp949')
df5=pd.read_csv('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\HWASUNG\\5.csv', encoding='cp949')
df6=pd.read_csv('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\HWASUNG\\6.csv', encoding='cp949')

In [20]:
a=pd.concat([df1,df2])
b=pd.concat([df3,df4])
c=pd.concat([df5,df6])

In [21]:
d=pd.concat([a,b])
f=pd.concat([d,c])

In [22]:
e=f[['일시', '기온(°C)', '1분 강수량(mm)','풍속(m/s)', '습도(%)']]

In [23]:
e.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260633 entries, 0 to 43198
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   일시          260633 non-null  object
 1   기온(°C)      259195 non-null  float64
 2   1분 강수량(mm)  256303 non-null  float64
 3   풍속(m/s)     260606 non-null  float64
 4   습도(%)       260633 non-null  float64
dtypes: float64(4), object(1)
memory usage: 11.9+ MB

In [24]:
e.columns=['time','temperature','rainfall','windspd','humidity']

In [25]:
e['time']= pd.to_datetime(e['time'])

C:\Users\ajou\AppData\Local\Temp\ipykernel_23280\3860260314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  e['time']= pd.to_datetime(e['time'])

In [26]:
e.set_index('time', inplace=True)

In [27]:
df_5min_avg= e.resample('5T').mean()

In [28]:
df_5min=df_5min_avg[:51552]

In [29]:
df_5min.columns

Index(['temperature', 'rainfall', 'windspd', 'humidity'], dtype='object')

In [30]:
df_5min

                     temperature  rainfall  windspd  humidity
time
2023-01-01 00:00:00       -3.475       0.0     0.10    85.425
2023-01-01 00:05:00       -3.560       0.0     0.18    85.800
2023-01-01 00:10:00       -3.720       0.0     0.28    86.340
2023-01-01 00:15:00       -3.800       0.0     0.46    87.100
2023-01-01 00:20:00       -3.820       0.0     0.54    87.360
...                          ...       ...      ...       ...
2023-06-28 23:35:00       24.440       0.0     2.48    93.240
2023-06-28 23:40:00       24.500       0.0     2.24    93.280
2023-06-28 23:45:00       24.500       0.0     2.04    93.420
2023-06-28 23:50:00       24.460       0.0     2.46    93.360
2023-06-28 23:55:00       24.520       0.0     2.32    93.340

[51552 rows x 4 columns]

In [31]:
df_5min.to_csv('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\weather_hwasung.csv',)

# 데이터 비교

In [32]:
hwa= pd.read_csv('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\weather_hwasung.csv', encoding='cp949')
osan= pd.read_csv('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\weather_osan.csv', encoding='cp949')

In [33]:
hwa.head()

                  time  temperature  rainfall  windspd  humidity
0  2023-01-01 00:00:00       -3.475       0.0     0.10    85.425
1  2023-01-01 00:05:00       -3.560       0.0     0.18    85.800
2  2023-01-01 00:10:00       -3.720       0.0     0.28    86.340
3  2023-01-01 00:15:00       -3.800       0.0     0.46    87.100
4  2023-01-01 00:20:00       -3.820       0.0     0.54    87.360

In [34]:
osan.head()

                  time  temperature  rainfall  windspd  humidity
0  2023-01-01 00:00:00        -5.35       0.0     0.00    91.475
1  2023-01-01 00:05:00        -5.34       0.0     0.02    93.060
2  2023-01-01 00:10:00        -4.96       0.0     0.02    93.000
3  2023-01-01 00:15:00        -5.44       0.0     0.00    88.960
4  2023-01-01 00:20:00        -5.68       0.0     0.00    92.720

In [49]:
import numpy as np
from scipy.stats import ks_2samp

In [57]:
sample1=hwa.iloc[:,4]
sample2=osan.iloc[:,4]

In [58]:
# 두 개의 샘플 생성 (예시 데이터)
sample1 = np.random.normal(0, 1, 1000)
sample2 = np.random.normal(0, 1, 1200)

# KS 검정 수행
statistic, p_value = ks_2samp(sample1, sample2)

# 결과 출력
print("KS Statistic:", statistic)
print("P-value:", p_value)

# 유의 수준 0.05에서 유의미한지 확인
alpha = 0.05
if p_value < alpha:
    print("두 샘플은 다른 분포를 따릅니다 (reject H0)")
else:
    print("두 샘플은 동일한 분포를 따릅니다 (fail to reject H0)")

KS Statistic: 0.03383333333333333
P-value: 0.5482008176789774
두 샘플은 동일한 분포를 따릅니다 (fail to reject H0)

In [59]:
#동일한 분포를 따르므로 그냥 화성시꺼 사용함

# 링크별로 구축

In [1]:
import pandas as pd

In [2]:
hwa= pd.read_csv('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\weather_hwasung.csv', encoding='cp949')

In [3]:
df=pd.DataFrame(hwa['time'])

In [4]:
df.set_index('time',inplace=True)

In [5]:
hwa.set_index('time',inplace=True)

In [6]:
nodes=[40221,  40222,  40223,  40224,  40231,  40232,  40233,  40234,
        40241,  40242,  40243,  40244,  40311,  40312,  40313,  40314,  40321,
        40322,  40323,  40324,  40331,  40332,  40333,  40334,  40341,  40342,
        40343,  40344,  40351,  40352,  40353,  40354,  40371,  40372,  40373,
        40374,  40381,  40382,  40383,  40384,  40391,  40392,  40393,  40394]

In [7]:
import openpyxl

In [8]:
for node in nodes:
    df[node]=hwa['temperature']

In [9]:
df.to_excel('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\weather.xlsx', sheet_name='temp')

In [10]:
for node in nodes:
    df[node]=hwa['rainfall']

In [11]:
df.to_excel('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\weather_rain.xlsx')

In [12]:
for node in nodes:
    df[node]=hwa['windspd']

In [13]:
df.to_excel('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\weather_wind.xlsx')

In [14]:
for node in nodes:
    df[node]=hwa['humidity']

In [15]:
df.to_excel('C:\\Users\\ajou\\Desktop\\Data\\dongtan\\weather_humi.xlsx')